@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&family=PT+Mono&display=swap");
:root {
  /* font-family: 'Noto Sans', sans-serif;
  font-family: 'PT Mono', monospace; */
  --font-one: "Noto Sans", sans-serif;
  --font-two: "PT Mono", monospace;
  --color-one: rgb(64, 39, 206);
}
